.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 150px;
  background-color: opaque;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.theme-selector {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.sidebar-content nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-content a {
  background-color: #8b4513;
  text-decoration: none;
  font-size: 24px;
  color: black;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-content a:hover {
  background-color: #007bff;
  color: white;
}

.random-theme-button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.random-theme-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
